<%= form_for(@roi_survey) do |f| %>
  <% if @roi_survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roi_survey.errors.count, "error") %> prohibited this calculation:</h2>

      <ul>
      <% @roi_survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <hr/>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field form-group">
    
    <div class="row">
      <div class="col-sm-6 col-lg-8">
        
        <p class="lead">How big is your store?</p>
      </div>
      <div class="col-sm-6 col-lg-4">
        <%= f.collection_select :store_sq_ft, RoiSurvey.square_footages, :last, :first, {}, :class=>"form-control" %>
      </div>
    </div>
    

  </div>
  <hr>
  <div class="field form-group">
    <div class="row">
      <div class="col-sm-6 col-lg-8">
        <p class="lead">What percentage of sales are HABA (Health and Beauty Accessories)</p>
      </div>
      <div class="col-sm-6 col-lg-4">
        <%= f.collection_select :haba, RoiSurvey.percentages(1,0,25), :last, :first, {}, :class=>"form-control" %>
      </div>
    </div>
    
    
  </div>
  <hr>
  <div class="field form-group">
    <div class="row">
      <div class="col-sm-6 col-lg-8">
        <p class="lead">How effective is your CCTV system?</p>
      </div>
      <div class="col-sm-6 col-lg-4"><table class="table">
          <thead>
            <tr>
              <th colspan="4">1 (Not effective)</th> 
              
              <th colspan="1"></th>
              <th colspan="1"></th>
              <th colspan="1"></th>
              <th colspan="1"></th>
              <th colspan="1"></th>
              <th colspan="1">10 (Very Effective)</th>
            </tr>
          </thead>
          <tr>
            <% 10.times do |i| %>
              <td><%= f.radio_button :cctv, i %></td>
            <% end %>
          </tr>
        </table></div>
    </div>
    
    
  </div>
  <hr>
  <div class="field form-group">
    <div class="row">
      <div class="col-sm-6 col-lg-8">
        <p class="lead">Does your store currently employ a walking service.</p>
      </div>
      <div class="col-sm-6 col-lg-4"><%= f.collection_select :walking_svc, RoiSurvey.walking_services, :first, :first , {}, :class=>"form-control"%></div>
    </div>
    
    
  </div>
  <hr>
  <div class="field form-group">
    <div class="row">
      <div class="col-sm-6 col-lg-8">
        <p class="lead">How many hours per week are Loss Prevention Officers walking?</p>
      </div>
      <div class="col-sm-6 col-lg-4"><%= f.collection_select :lpo_hours, RoiSurvey.lpo_hours_select, :first, :first , {}, :class=>"form-control"%></div>
    </div>
    
    
  </div>
  <hr>
  <div class="field form-group">
    <div class="row">
      <div class="col-sm-6 col-lg-8">
        <p class="lead">Does your store have an existing EAS system in place?</p>
      </div>
      <div class="col-sm-6 col-lg-4">
        <%= radio_button_tag "roi_survey[existing_eas]", "true", nil %>&nbsp;<%= label_tag 'roi_survey_existing_eas_true', "Yes" %>
        <%= radio_button_tag "roi_survey[existing_eas]", "false", nil %>&nbsp;<%= label_tag 'roi_survey_existing_eas_false', "No" %></div>
    </div>
  </div>
  <hr>
  <div class="field form-group">
    <div class="row">
      <div class="col-sm-6 col-lg-8">
        <p class="lead">Does a third party count store inventory once per year?</p>
      </div>
      <div class="col-sm-6 col-lg-4">
        <%= radio_button_tag "roi_survey[third_party_inventory]", "true", nil %>&nbsp;<%= label_tag 'roi_survey_third_party_inventory_true', "Yes" %>
        <%= radio_button_tag "roi_survey[third_party_inventory]", "false", nil %>&nbsp;<%= label_tag 'roi_survey_third_party_inventory_false', "No" %></div>
    </div>
  </div>
  <hr>
  <div class="field form-group">
    <div class="row">
      <div class="col-sm-6 col-lg-8">
        <p class="lead">Do you have a price reduction program for perishable deli items?</p>
      </div>
      <div class="col-sm-6 col-lg-4">
        <%= radio_button_tag "roi_survey[price_reduction_markdown]", "true", nil %>&nbsp;<%= label_tag 'roi_survey_price_reduction_markdown_true', "Yes" %>
        <%= radio_button_tag "roi_survey[price_reduction_markdown]", "false", nil %>&nbsp;<%= label_tag 'roi_survey_price_reduction_markdown_false', "No" %></div>
    </div>
  </div>
  <hr>
  <div class="field form-group">
    <div class="row">
      <div class="col-sm-6 col-lg-8">
        <p class="lead">In the last 5 years, have you had a civil claim allegation whereby you successfully defended yourself? (ie. slip &amp; fall, false arrest, etc)</p>
      </div>
      <div class="col-sm-6 col-lg-4">
        <%= radio_button_tag "roi_survey[civil_claim_won]", "true", nil %>&nbsp;<%= label_tag 'roi_survey_civil_claim_won_true', "Yes" %>
        <%= radio_button_tag "roi_survey[civil_claim_won]", "false", nil %>&nbsp;<%= label_tag 'roi_survey_civil_claim_won_false', "No" %></div>
    </div>
  </div>
  
  
  <hr>
  <div class="field form-group">
    <div class="row">
      <div class="col-sm-6 col-lg-8">
        <p class="lead">How effective is your current EAS System?</p>
      </div>
      <div class="col-sm-6 col-lg-4">
        <table class="table">
          <thead>
            <tr>
              <th colspan="4">1 (Not effective)</th> 
              
              <th colspan="1"></th>
              <th colspan="1"></th>
              <th colspan="1"></th>
              <th colspan="1"></th>
              <th colspan="1"></th>
              <th colspan="1">10 (Very Effective)</th>
            </tr>
          </thead>
          <tr>
            <% 10.times do |i| %>
              <td><%= f.radio_button :eas_effective, i %></td>
            <% end %>
          </tr>
        </table>
        
      </div>
    </div>
    
    
  </div>
  <hr>
  <div class="field form-group">
    <div class="row">
      <div class="col-sm-6 col-lg-8">
      <p class="lead">How many EAS tags do you currently use per month?</p>
      </div>
      <div class="col-sm-6 col-lg-4"><div class="input-group">   
          <span class="input-group-addon" id="roi_survey_num_exits_6_feet">#</span>
          <%= f.number_field :eas_tags_per_month, :class=>"form-control" %>
        </div></div>
    </div>
    
    
  </div>
  <hr>
  <div class="field form-group">
    <div class="row">
      <div class="col-sm-6 col-lg-8">
        <p class="lead">What are your total weekly sales?</p>
      </div>
      <div class="col-sm-6 col-lg-4"><%= f.collection_select :total_weekly_sales, RoiSurvey.weekly_sales, :last, :first, {}, :class=>"form-control" %></div>
    </div>
    
    
  </div>
  <hr>
  <div class="field form-group">
    <div class="row">
      <div class="col-sm-6 col-lg-8">
        <p class="lead">What percentage of sales is meat?</p>
      </div>
      <div class="col-sm-6 col-lg-4"><%= f.collection_select :meat_sales_percent, RoiSurvey.percentages(1,0,25), :last, :first, {}, :class=>"form-control" %></div>
    </div>
    
    
  </div>
  <hr>
  <div class="field form-group">
    <div class="row">
      <div class="col-sm-6 col-lg-8"><p class="lead">How many POS terminals are in your store?</p></div>
      <div class="col-sm-6 col-lg-4"><div class="input-group">
          <span class="input-group-addon" id="roi_survey_num_exits_6_feet">#</span>
          <%= f.number_field :num_pos_terminals, :class=>"form-control" %>
        </div></div>
    </div>
    
    
  </div>
  <hr>
  <div class="field form-group">
    <div class="row">
      <div class="col-sm-6 col-lg-8"><p class="lead">How many customer exits?</p></div>
      <div class="col-sm-6 col-lg-4">
        <div class="input-group">
          <span class="input-group-addon" id="roi_survey_num_exits">#</span>
          <%= f.number_field :num_exits, :class=>"form-control" %>
        </div>
      </div>
    </div>
    
    
  </div>
  <hr>
  <div class="field form-group">
    <div class="row">
      <div class="col-sm-6 col-lg-8">
        <p class="lead">How wide are your customer exits?</p>
      </div>

      <div class="col-sm-6 col-lg-4">
        
          <%= f.collection_select :exit_width_ft, RoiSurvey.exit_widths, :last, :first, {}, :class=>"form-control" %>
      </div>
      
    </div>
    
    
  </div>
  <hr>
  <div class="actions text-center">
    <%= f.submit "Calculate", :class=>"btn btn-lg btn-primary", :style=>"width: 280px" %>
  </div>
  <div class="clearfix"></div>
<% end %>
