<!--[if IE]>
<style type="text/css">
  .header-secondary {
	background: #269bdc;
  }
  .hero {
	background-repeat: repeat-y !important;
	background-position: top center !important;
  }
  .header-fade {
	display: none !important;
  }
</style>
<![endif]-->

<%= render :partial => 'layouts/navs' %>
<a id="backtotop"></a>
<div id="skrollr-body"></div>
<div id="logo-name" class="hero">
	<div class="absolute-div-wrap" data-0="opacity:1; top: -50px;" data-600="opacity:0; top: 200px;">
		<%= image_tag 'logo-large.svg', :class=>"center-img" %>	
	</div>
	
	<div class="hero-call-to-action center" style="text-align: center !important;" data-0="-ms-transform: translate(0,0px);-moz-transform: translate(0,0px);-webkit-transform: translate(0,0px);transform: translate(0,0px);" data-600="-ms-transform: translate(0,100px);-moz-transform: translate(0,100px);-webkit-transform: translate(0,100px);transform: translate(0,100px);">
		<%= link_to "Become A Distributor", distributors_path, :class=>"btn btn-cta" %>
	</div>
</div>
<div id="backdrop" data-0="-ms-transform: translate(0,0px);-moz-transform: translate(0,0px);-webkit-transform: translate(0,0px);transform: translate(0,0px);" data-600="-ms-transform: translate(0,-100px);-moz-transform: translate(0,-100px);-webkit-transform: translate(0,-100px);transform: translate(0,-100px);" style="background-image: url(<%= image_url 'lead/hero-bg.jpg' %>)">
</div>
<div class="clearfix"></div>
<section id="about" class="header-fade-blue-flip" style="padding-top: 50px;">
	<div class="row" style="margin-left: 0px !important; margin-right: 0px !important;">
		<div class="hero-about">
			<div class="inner-half-width">
				<h3 class="light">About SYNQ</h3>
				<p class="lead">SYNQ brings you state of the art security technology that is easy to use, with competitive pricing. From retail, to construction, to your own home, we bring peace of mind at unbeatable prices.</p>
			</div>
		</div>
		<div class="hero-contact">
			<div class="inner-half-width ">
				<div class="contact-wrap">
						<h3 class="light">Contact Us</h3>
						<a href="tel:7784402005"><h1 class="phone-number">(778) 440-2005</h1></a>
						
						<div class="social">
							<a href="mailto:contact@synqtech.com" class=""><i class="fa fa-envelope-o"></i></a>
							<a href="http://twitter.com/synqaccess"><i class="fa fa-twitter"></i></a>
							<a href="http://facebook.com/synqaccess"><i class="fa fa-facebook"></i></a>
						</div>
					</div>
			</div>
		</div>
		
	</div>	
		
</section>
<section class="brags no-pad">
	<div class="container">
	<div class="row">
			<div class="col-sm-4 brag">
				<center>
					<span class="fa fa-tachometer header-icon"></span>
					<h4 class="light">We Push The Industry</h4>
					<p>We work directly with insurance companies as well as manufacturers like Acumen to bring the future of security technology to life.
					</p>
				</center>
			</div>

			<div class="col-sm-4 brag">
				<center>
				<span class="fa fa-video-camera header-icon"></span>
				<h4 class="light">We Bring The Big Picture</h4>
				<p>SYNQ offers a range of 2MP, 5MP, and 4K (33 MP) cameras. Only two manufacturers produce affordable ultra-HD cameras: Sony and Acumen. SYNQ is proud to supply both.
				</p>
				</center>
			</div>
			
			<div class="col-sm-4 brag">
				<center>
					<span class="fa fa-lightbulb-o header-icon"></span>
					<h4 class="light">We Offer Uniqueness</h4>
					<p>We bring effective products to the industry that our competitors haven't even touched. From the highest quality cameras to specialized servers, to our 100% Canadian-made EAS tags, we're proud to offer what no one else has.
					</p>
				</center>
			</div>
		</div>		
	</div>

</section> 


<section id="products" class="apps feature">
	<div class="container">
		<div class="row">

		</div>
		<div class="row">
			<h1 class="center">Products &amp; Services</h1>
				<p class="lead center">SYNQ is committed to building a close relationship between smartphones and security. We use smartphones to take advantage of immediate notification, and provide convenience for CCTV monitoring. </p>
				<hr>
			<div class="col-lg-3 col-xs-6">

				

				<div class="panel panel-thumb">
					<div class="panel-header" style="background: url(<%= image_url 'blur/qdrive.jpg' %>)">
						<%= image_tag "qdrive.png", :class=>"responsive" %>
					</div>

					
					<div class="panel-body">
						<h3>QDrive</h3>
						<p>Lock out distracted driving for good. Commercial &amp; consumer to come.</p>
					</div>
					<a data-toggle="modal" data-target="#AppModalQDrive" class="btn btn-lg btn-block btn-default">Learn More » </a>
				</div>
			</div>

			<div class="col-lg-3 col-xs-6">
				<div class="panel panel-thumb">
					<div class="panel-header" style="background: url(<%= image_url 'blur/qgarage.jpg' %>)">
						<%= image_tag "qgarage.png", :class=>"responsive" %>
					</div>

					
					<div class="panel-body">
						<h3>QGarage</h3>
						<p>Comprehensive solutions to reduce residential motor vehicle crime.</p>
					</div>
					<a data-toggle="modal" data-target="#AppModalQGarage" class="btn btn-lg btn-block btn-default">Learn More » </a>
				</div>
			</div>

		
			<div class="col-lg-3 col-xs-6">
				<div class="panel panel-thumb">
					<div class="panel-header" style="background: url(<%= image_url 'blur/wide.jpg' %>)">
						<%= image_tag "qcctv.png", :class=>"responsive" %>
					</div>

					
					<div class="panel-body">
						<h3>CCTV Storage</h3>
						<p>Subscriptions &amp; servers to record up to <strong>1 year</strong> at full resolution.</p>
					</div>
					<a data-toggle="modal" data-target="#CCTVModal" class="btn btn-lg btn-block btn-default">Learn More » </a>
				</div>
			</div>

		
			<div class="col-lg-3 col-xs-6">
				<div class="panel panel-thumb">
					<div class="panel-header" style="background: url(<%= image_url 'blur/lpo.jpg' %>)">
						<%= image_tag "qdrive.png", :class=>"responsive", :style=>"opacity: 0 !important;" %>
					</div>

					
					<div class="panel-body">
						<h3>Loss Prevention</h3>
						<p>Loss prevention services and <strong>cutting-edge EAS technology</strong> to protect profits and liability.</p>
					</div>
					<a href="#eas" class="btn btn-lg btn-block btn-default">Learn More » </a>
				</div>
			</div>

		
			
		</div>
	</div>
</section>

<section class="feature" id="cameras">
	<div class="container">
		<div class="overlay"></div>
		<!-- Camera Models -->

		<div class="row">
			<div class="col-md-4" >
				<h1 class=""><%= image_tag 'lead/cctv.png', :class=>'heading-img' %>Security Cameras</h1>
				<p class="lead center-when-small">SYNQ is Canada's only supplier of Acumen security cameras and CCTV systems. They are one of the few companies to offer a 4K solution to CCTV over IP, and are by-far the most affordable option.</p>
				<%= image_tag 'ai/acumen.png', :class=>"responsive", :style=>"max-width: 150px;"%>
				<hr>

			</div>



			<div class="col-md-8">
				<div class="row">
					<div class="col-sm-4">
						<div class="panel panel-thumb">
							<%= image_tag "ai/4k.png", :class=>"responsive" %>
							
							<h3 class="center">4K Ultra HD</h3>
							<p class=" center">The ultimate in surveillance with up to 33 MP video resulution.</p>
							<a href="http://www.acumenin.com/products/aip/box/b84n-bahrain" target="_blank" class="btn btn-lg btn-block btn-default">See All Models » </a>
						</div>
					</div>				
					<div class="col-sm-4">
						<div class="panel panel-thumb">
							<%= image_tag "ai/aip.png", :class=>"responsive" %>
							
							<h3 class="center">IP Cameras</h3>
							<p class=" center">High definition outdoor cameras for IP streaming.</p>
							<a href="http://www.acumenin.com/products/aip" target="_blank" class="btn btn-lg btn-block btn-default">See All Models » </a>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="panel panel-thumb">
							<%= image_tag "ai/analogue.png", :class=>"responsive" %>
							
							<h3 class="center">Analogue Cameras</h3>
							<p class=" center">Analogue CCTV cameras to meet your surveillance needs</p>
							<a href="http://www.acumenin.com/products/ai" target="_blank" class="btn btn-lg btn-block btn-default">See All Models » </a>
						</div>
					</div>

				</div>
				<!-- Video & Software -->
				
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe width="100%" class="embed-responsive-item" src="//www.youtube.com/embed/mrwe60NHmWg?list=PLGCgNUc9Xhb2BriSN-6F3jIBWVBQ4L9KT" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="clearfix"></div>
	
</section>

<section class="feature" id="eas">
	<div class="container">
		

		<div class="row">
			<div class="col-md-6">
				<h1><%= image_tag 'lead/barcode.png', :class=>'heading-img' %>EAS Systems</h1>
				<p class="lead center-when-small">State of the Art Article Surveillance Systems</p>

				<p>SYNQ is proud to supply the only EAS labels compatible with meat printers. In the event of shoplifting, a push notification will immediately be sent to any party’s phone with access to a video clip 2-seconds prior to the offense.</p>

				<h3>Ultra-Compatible</h3>
				<p>SYNQ’s Electronic Article Surveillance tags are compatible with Digi, Hobart, Bizerba, and Ishida meat label printers. Getting started is as simple as changing label paper.</p>


				
			</div>
			<div class="col-md-6">
				<%= image_tag "eas/large-graphic.png", :class=>"responsive", :style=>"width: 100%; height: auto; max-width: 400px;" %>
			</div>

		</div>
		<hr>
		<div class="row">
			<div class="col-md-9">
			
				<h2 class="center">How It Works</h2>
				<p class="lead center">SYNQ's unique approach to EAS works by combining our discreet Hi-Frequency labels with smart camera technology to bring you video of suspicious incidents exactly when you need it. Our thermal scale labels are uniquely compatible with all meat and deli printers, so no labour is required to get your SYNQ EAS system up and running.</p>

			</div>
			<div class="col-md-3">
				<%= image_tag 'eas/brands.png', :class=>"responsive" %>
			</div>
			
			<hr class="invisible">
		</div>
		<div class="row bordered">

			<div class="col-xs-6 col-md-3 panel-thumb center">
				<%= image_tag 'eas/1.png', :class=>"responsive" %>
				<h4 class="light">Tagged Marchandise</h4>
				<p class="light">Simply print directly on SYNQ’s Hi-Frequency tags and label your products.</p>
			</div>

			<div class="col-xs-6 col-md-3 panel-thumb center">
				<%= image_tag 'eas/2.png', :class=>"responsive" %>
				<h4 class="light">Theft Occurs</h4>
				
				<p class="light">SYNQ's specialized EAS gate detects a shoplifter with an active hi-frequency tag and sounds the alarm.</p>

			</div>

			<div class="col-xs-6 col-md-3 panel-thumb center">
				<%= image_tag 'eas/3.png', :class=>"responsive" %>
				<h4 class="light">Receive Notification</h4>
				<p class="light">Receive video notification starting 2 seconds before thief exits through the gate.</p>
			</div>

			<div class="col-xs-6 col-md-3 panel-thumb center">
				<%= image_tag 'eas/4.png', :class=>"responsive" %>
				<h4 class="light">Review &amp; Apprehend</h4>
				<p class="light">Review the clear footage of the thief and act accordingly.</p>
			</div>
			
		</div>

		<div class="row">
			<h2 class="center">Pick Your Solution</h2>
			<div class="col-sm-6 center">
					<div class="box">
						<h3 class="light ">Large Exit</h3>
						<p>SYNQ’s very own hi-frequency tags are low-profile, discreet, and effective. Best of all, they are produced in Canada. SYNQ's high-frequency tags are ideal for larger gates and offer superior range to anything else.
						</p>
						<%= link_to raw("<i class=\"fa fa-download\"></i> SYNQ EAS.pdf"), "http://corporatedraft.com/synq/pdf/SYNQ-EAS.pdf", :class=>"btn btn-lg btn-primary btn-block", :target=>"_blank", :style=>"margin: 10px 0px 0px 0px" %>
						
					</div>
			</div>
			<div class="col-sm-6 center">
					<div class="box">
					<h3 class="light">Small Exit</h3>
					<p>SYNQ works closely with Tag-It EAS for low frequency tags. These are ideal for smaller exit sizes and are also compatible with your existing printers.</p>

					<a href="http://tagit-eas.com" target="_blank" class="btn btn-lg btn-primary btn-block">
						<%= image_tag 'tagit-white.png' %>
					</a>
				</div>
			</div>
		</div>
	<div class="clearfix"></div>
	
</section>

<section class="feature dark brands">
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h2 class="center">Top Clients</h2>
				<p class="lead center">We offer our services to several high-profile businesses across Canada.</p>
				<hr>
			</div>
			<div class="col-md-2"></div>
		</div>
		
		<div class="row">
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"><%= image_tag 'clients/cantire.jpg' %></div></div>
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"><%= image_tag 'clients/choices.jpg' %></div></div>
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"><%= image_tag 'clients/fairway.jpg' %></div></div>
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"><%= image_tag 'clients/iga.jpg' %></div></div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"><%= image_tag 'clients/lordco.jpg' %></div></div>
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"><%= image_tag 'clients/metro.jpg' %></div></div>
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"><%= image_tag 'clients/rexall.jpg' %></div></div>
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"><%= image_tag 'clients/sobeys.jpg' %></div></div>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
<%= render :partial => 'layouts/footer' %>

<%= render :partial => 'app/qwatch' %>
<%= render :partial => 'app/qdrive' %>
<%= render :partial => 'app/qgarage' %>
<%= render :partial => 'app/cctv_storage' %>
