<%= render :partial => 'layouts/navs' %>
<section id="logo-name hero" id="top">
	<%= image_tag 'logo-large.svg', :class=>"center-img" %>
	<div class="desc-imgs" style="text-align: center !important;">
		<center>
			<%= image_tag 'lead/security.png' %>
			<%= image_tag 'lead/cctv.png' %>
			<%= image_tag 'lead/service.png' %>
			<%= image_tag 'lead/barcode.png' %>
		</center>
	</div>
</section>
<section id="about" class="header-fade-flip">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<p class="lead">SYNQ brings you state of the art security technology that is easy to use, with competitive pricing. From retail, to construction, to your own home, we bring peace of mind at unbeatable prices.</p>
			</div>
			<div class="col-sm-6">
				<div class="contact-wrap">
					<a href="tel:7784402005"><h1 class="center">(778) 440-2005</h1></a>
					<p class="lead center"><a href="mailto:nolan@synqtech.com" class=""><i class="fa fa-envelope-o"></i> nolan@synqtech.com</a></p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="products" class="title" style="background-image: url(<%= image_url 'large/acumen.jpg'%>)">
	<h1>Products &amp; Services</h1>
</section>

<section class="feature" id="cctv">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h1>Long Term CCTV Recording</h1>
				<p class="lead">We offer a cost-effective solution for storing CCTV footage for up to one year, without compromising video quality, or using secondary streams.</p>
				<a data-toggle="modal" data-target="#CCTVModal" class="btn btn-lg btn-block btn-default">Specifications »</a>
				<%= image_tag 'cctv.png', :class=>"responsive" %>
			</div>
			<div class="col-sm-8">
				<%= image_tag 'svr/synq-box.jpg', :style=>"width: 100% !important; max-width: 960px;" %>
				<p>A CCTV monitoring system can provide a number of benefits to your business. However, we have learned that in this industry, one of the most significant issues our clients face with their monitoring systems is data retention that is cost effecitve.</p>
				<p>Today, most CCTV Monitoring sytems hold data for a maximum of 2-3 months, and this presents several liability issues ranging from slips, trips and falls in the workplace, to assault and false arrest accusations toward loss prevention officers.</p>
				<p>Synq Access and Security Technology has recognized this as a major issue in our field, and we now have the ability to offer you a solution for the data retention you need, without compromising on video quality or using secondary streams.</p>
				<p>We do this by directly working with manufacturers to bring you a cost effective platform, customized for the CCTV and Security industry. As one of the only companies in Canada able to offer this solution, Synq Access and Security Technology stands out as a unique company that is committed to meeting your company's security needs</p>
			</div>

		</div>
	</div>
</section>


<section class="feature" id="cameras">
	<div class="container">
		<div class="overlay"></div>
		<!-- Camera Models -->

		<div class="row">
			<div class="col-md-4"  style="border-left: 4px solid red;">
				<h1 class="">Security Cameras</h1>
				<p class="lead">SYNQ is Canada's only supplier of Acumen security cameras and CCTV systems.</p>
				<%= image_tag 'ai/acumen.png', :class=>"responsive" %>
				<hr>
				<p>ACUMEN Intercontinental Corp. is a Taiwanese manufacturer and supplier of high-tech surveillance systems: cameras, video recorders, capture cards, and monitors - all under the trademark of Ai. Thanks to the high growth rate, wide range of product assortment and innovative technologies, ACUMEN Int. Corp. is currently one of the world leaders in the security industry, opening offices in Europe, America, Asia and Africa.</p>
 
				<p>Acumen Intercontinental Corp. was founded on January 18, 1997. For more than 10 years, the company keeps growing and has won the worldwide recognition. Acumen now sells equipment to more than 150 countries from all over the world. Acumen Intercontinental Corp. owns more than 10,000 square meters factory and office space. The production volume of the company is more than 160,000 systems per year. Representation of Acumen in Russia, which was founded in 2005, has already won recognition and consumer confidence. Thus, in 2008, Acumen was called "Company of the Year" by the prestigious industry award "Recognition". At the moment Acumen has three offices in different cities in Russia: Moscow, Lipetsk and St. Petersburg. Every office has its own warehouse for finished goods. And also service centers provide technical support to customers. The principle of the company is to be closer to customers, including geographically. For this purpose, Acumen organizes training seminars throughout Russia, everyone can become a participant of the seminar.</p>

			</div>


			<div class="col-md-8">
				<div class="row">
					<div class="col-sm-4">
						<div class="panel-red">
							<%= image_tag "ai/4k.png", :class=>"responsive" %>
							
							<h3 class="center">4K Ultra HD</h3>
							<p class=" center">High definition outdoor cameras for IP streaming.</p>
							<a href="http://www.acumenin.com/products/aip/box/b84n-bahrain" target="_blank" class="btn btn-lg btn-block btn-default">See All Models » </a>
						</div>
					</div>				
					<div class="col-sm-4">
						<div class="panel-red">
							<%= image_tag "ai/aip.png", :class=>"responsive" %>
							
							<h3 class="center">IP Cameras</h3>
							<p class=" center">High definition outdoor cameras for IP streaming.</p>
							<a href="http://www.acumenin.com/products/aip" target="_blank" class="btn btn-lg btn-block btn-default">See All Models » </a>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="panel-red">
							<%= image_tag "ai/analogue.png", :class=>"responsive" %>
							
							<h3 class="center">Analogue Cameras</h3>
							<p class=" center">High definition outdoor cameras for IP streaming.</p>
							<a href="http://www.acumenin.com/products/ai" target="_blank" class="btn btn-lg btn-block btn-default">See All Models » </a>
						</div>
					</div>

				</div>	
				<!-- Video & Software -->
				<div class="row">
					<div class="col-sm-12">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe width="100%" class="embed-responsive-item" src="//www.youtube.com/embed/mrwe60NHmWg?list=PLGCgNUc9Xhb2BriSN-6F3jIBWVBQ4L9KT" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>
	
</section>

<section id="upcoming" class="apps feature">
	<div class="container">
		<div class="row">

		</div>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<h1 class="">Upcoming Products</h1>
				<p class="lead">SYNQ is always innovating. Here are some of the products that will define the future of SYNQ.</p>
			</div>
			
			<div class="col-sm-5">
				<div class="panel panel-thumb">
					<%= image_tag "qdrive.png", :class=>"responsive" %>
					<hr>
					<h3 class="center">QDrive</h3>
					<p class="lead center">A replacement for your keys; a revolution in road safety.</p>
					<a data-toggle="modal" data-target="#AppModalQDrive" class="btn btn-lg btn-block btn-default">Learn More » </a>
				</div>
			</div>
			<div class="col-sm-1"></div>

			
		</div>
	</div>
</section>

<section class="feature dark brands">
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h2 class="center">Top Clients</h2>
				<p class="lead center">We offer our services to several high-profile businesses across Canada.</p>
				<hr>
			</div>
			<div class="col-md-2"></div>
		</div>
		
		<div class="row">
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"><%= image_tag 'clients/cantire.jpg' %></div></div>
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"><%= image_tag 'clients/choices.jpg' %></div></div>
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"><%= image_tag 'clients/fairway.jpg' %></div></div>
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"><%= image_tag 'clients/iga.jpg' %></div></div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"><%= image_tag 'clients/lordco.jpg' %></div></div>
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"><%= image_tag 'clients/metro.jpg' %></div></div>
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"><%= image_tag 'clients/rexall.jpg' %></div></div>
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"><%= image_tag 'clients/sobeys.jpg' %></div></div>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
<section class="footer" id="contact">

	<div class="container">
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<h1 class="center">Contact Us</h1>
			<p class="lead center">Get in touch with SYNQ</p>
			<hr>
		</div>
		<div class="col-sm-3"></div>
	</div>
		<div class="row center">

			<div class="col-xs-0 col-sm-3"></div>
			<div class="col-xs-4 col-sm-2"><a href="mailto:nolan@synqtech.com"><i class="fa fa-envelope-o"></i><br>nolan@synqtech.com</a></div>
			<div class="col-xs-4 col-sm-2"><a href="tel:7784402005"><i class="fa fa-phone"></i><br>(778) 440-2005</a></div>
			<div class="col-xs-4 col-sm-2"><a href="http://www.twitter.com/synqaccess" target="_blank"><i class="fa fa-twitter"></i><br>@SynqAccess</a></
			<div class="col-xs-0 col-sm-3"></div>

		</div>
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
			<hr>
				<div class="well center">
					<strong>SYNQ Technology</strong><br>
					1075 Pandora Ave.<br>
					Victoria, BC
				</div>

				<br>

				<center><a href="#top" class="btn btn-dark btn-lg">
					Back To Top <i class="fa fa-hand-o-up"></i>
				</button></a>
			</div>
			<div class="col-sm-3"></div>
		</div>
	</div>

</section>

<%= render :partial => 'app/qwatch' %>
<%= render :partial => 'app/qdrive' %>
<%= render :partial => 'app/qgarage' %>
<%= render :partial => 'app/cctv_storage' %>
