<%= render :partial => 'layouts/navs' %>
<section id="logo-name">
	<%= image_tag 'logo-large.svg', :class=>"center-img" %>
	<div class="desc-imgs">
		<%= image_tag 'lead/security.png' %>
		<%= image_tag 'lead/cctv.png' %>
		<%= image_tag 'lead/service.png' %>
		<%= image_tag 'lead/barcode.png' %>
	</div>
</section>
<section id="phone">
	<div class="phone-number">
	asd
	</div>
</section>

<section id="products" class="title" style="background-image: url(<%= image_url 'large/acumen.jpg'%>)">
	<h1>Products &amp; Services</h1>
</section>

<section class="feature">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h1>Long Term CCTV Recording</h1>
				<p class="lead">We offer a cost-effective solution for storing CCTV footage for up to one year, without compromising video quality, or using secondary streams.</p>
				<a data-toggle="modal" data-target="#CCTVModal" class="btn btn-lg btn-block btn-default">Specifications »</a>
				<%= image_tag 'cctv.png', :class=>"responsive" %>
			</div>
			<div class="col-sm-8">
				<%= image_tag 'svr/synq-box.jpg', :style=>"width: 100% !important; max-width: 960px;" %>
				<p>A CCTV monitoring system can provide a number of benefits to your business. However, we have learned that in this industry, one of the most significant issues our clients face with their monitoring systems is data retention that is cost effecitve.</p>
				<p>Today, most CCTV Monitoring sytems hold data for a maximum of 2-3 months, and this presents several liability issues ranging from slips, trips and falls in the workplace, to assault and false arrest accusations toward loss prevention officers.</p>
				<p>Synq Access and Security Technology has recognized this as a major issue in our field, and we now have the ability to offer you a solution for the data retention you need, without compromising on video quality or using secondary streams.</p>
				<p>We do this by directly working with manufacturers to bring you a cost effective platform, customized for the CCTV and Security industry. As one of the only companies in Canada able to offer this solution, Synq Access and Security Technology stands out as a unique company that is committed to meeting your company's security needs</p>
			</div>
		</div>
	</div>
</section>


<section id="acumen" class="" style="background-image: url(<%= image_url 'ai/4kbahrain.jpg'%>)">
	<div class="container">
		<div class="overlay"></div>
		<!-- Camera Models -->

		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<h1 class="center">Security Cameras</h1>
				<p class="lead">SYNQ is Canada's only supplier of Acumen security cameras and CCTV systems.</p>
			</div>
			<div class="col-sm-2"></div>
		</div>

		<div class="row">
		

			<div class="col-sm-4">
				<div class="panel-dark">
					<%= image_tag "ai/aip.png", :class=>"responsive" %>
					
					<h3 class="center">IP Cameras</h3>
					<p class="lead center">High definition outdoor cameras for IP streaming.</p>
					<a href="http://www.acumenin.com/products/aip" target="_blank" class="btn btn-lg btn-block btn-default">See All Models » </a>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel-dark">
					<%= image_tag "ai/analogue.png", :class=>"responsive" %>
					
					<h3 class="center">Analogue Cameras</h3>
					<p class="lead center">High definition outdoor cameras for IP streaming.</p>
					<a href="http://www.acumenin.com/products/ai" target="_blank" class="btn btn-lg btn-block btn-default">See All Models » </a>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel-dark">
					<%= image_tag "ai/4k.png", :class=>"responsive" %>
					
					<h3 class="center">4K Ultra HD Cameras</h3>
					<p class="lead center">High definition outdoor cameras for IP streaming.</p>
					<a href="http://www.acumenin.com/products/aip/box/b84n-bahrain" target="_blank" class="btn btn-lg btn-block btn-default">See All Models » </a>
				</div>
			</div>
		</div>	
		<!-- Video & Software -->
		<div class="row">
			<div class="col-sm-6">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe width="100%" class="embed-responsive-item" src="//www.youtube.com/embed/mrwe60NHmWg?list=PLGCgNUc9Xhb2BriSN-6F3jIBWVBQ4L9KT" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="center">Software</h1>
						<%= image_tag 'ai/air-ios.png', :class=>"responsive", :style=>"width: 105px; height: auto; display:inline-block;" %>
						<%= image_tag 'ai/air-droid.png', :class=>"responsive", :style=>"width: 105px; height: auto; display:inline-block;" %>
					</div>
				</div>

			</div>
		</div>

	</div>

	<div class="clearfix"></div>
	
</section>

<section id="apps" class="apps feature">
	<div class="container">
		<div class="row">

		</div>
		<div class="row">
			<div class="col-sm-3">
				<h2 class="">Upcoming Products</h2>
				<p class="lead">SYNQ has several projects on the go to bring convenience, tech, safety, and security to your home or workplace.</p>
			</div>
			
			<div class="col-sm-3">
				<div class="panel panel-thumb">
					<%= image_tag "qdrive.png", :class=>"responsive" %>
					<hr>
					<h3 class="center">QDrive</h3>
					<p class="lead center">A replacement for your keys; a revolution in road safety.</p>
					<a data-toggle="modal" data-target="#AppModalQDrive" class="btn btn-lg btn-block btn-default">Learn More » </a>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="panel panel-thumb">
					<%= image_tag "construction.png", :class=>"responsive" %>
					<hr>
					<h3 class="center">QWatch</h3>
					<p class="lead center">Site monitoring from the comfort of anywhere.</p>
					<a data-toggle="modal" data-target="#AppModalQWatch" class="btn btn-lg btn-block btn-default">Learn More » </a>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="panel panel-thumb">
					<%= image_tag "qgarage.png", :class=>"responsive" %>
					<hr>
					<h3 class="center">QGarage</h3>
					<p class="lead center">Monitor your ride from anywhere in the world.</p>
					<a data-toggle="modal" data-target="#AppModalQGarage" class="btn btn-lg btn-block btn-default">Learn More » </a>
				</div>
			</div>
			
		</div>
	</div>
</section>

<section class="feature dark brands">
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h2 class="center">Top Clients</h2>
				<p class="lead">We offer our services to several high-profile businesses within British Columbia.</p>
				<hr>
			</div>
			<div class="col-md-2"></div>
		</div>
		
		<div class="row">
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"><%= image_tag 'clients/cantire.jpg' %></div></div>
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"><%= image_tag 'clients/choices.jpg' %></div></div>
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"><%= image_tag 'clients/fairway.jpg' %></div></div>
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"><%= image_tag 'clients/iga.jpg' %></div></div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"><%= image_tag 'clients/lordco.jpg' %></div></div>
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"><%= image_tag 'clients/metro.jpg' %></div></div>
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"><%= image_tag 'clients/rexall.jpg' %></div></div>
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"><%= image_tag 'clients/sobeys.jpg' %></div></div>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
<div class="footer">

	<div class="content">
		<
	</div>

</div>

<%= render :partial => 'app/qwatch' %>
<%= render :partial => 'app/qdrive' %>
<%= render :partial => 'app/qgarage' %>
<%= render :partial => 'app/cctv_storage' %>
