<!-- QDrive APP MODAL -->
<div class="modal fade" id="AppModalQDrive" tabindex="-1" role="dialog" aria-labelledby="AppModalQDriveLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background: url(<%= image_url 'blur/qdrive.jpg' %>)">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <!-- <h4 class="modal-title" id="AppModalQDriveLabel">Modal title</h4> -->
        <%= image_tag "qdrive.png", :class=>"responsive" %>
      </div>
      <div class="modal-body">

      <h2 class="center">QDrive</h2>
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Lock out distracted driving for good. QDrive is a personal and commercial solution from SYNQ with all intentions set on safety.</p>
        </div>
        <div class="col-xs-3">
          <%= image_tag 'more/new-drivers.png', :class=>'responsive' %>
        </div>
        <div class="col-xs-9">
          <p class="">QDrive brings peace of mind to parents with new drivers. Since the car requires a running app to keep the car running, mobile use while driving is completely discouraged. We understand that phones are sometimes a necessity, or the app may be accidentally closed, so phones can be used for short bursts while the car is running, but the event is recorded.</p>

        </div>
        <div class="col-xs-9">
          <p class="">A commercially applicable module will be available soon to benefit commercial customers as well as those running fleets, car shares, and rental programs. Additional mechanisms are built in to track all other metrics of driving, such as speed, location, as well as mobile use.</p>
        </div>

        <div class="col-xs-3">
          <%= image_tag 'more/no-text.jpg', :class=>"responsive" %>
        </div>
      </div>
      <div class="row sub-feature padded">
        <div class="col-xs-6">
          <%= image_tag 'more/personal.png', :class=>'summary-img' %>
          <h4 class="center">Consumer Version</h4>
          <p class="center">Track family members' mobile usage with basic reporting.</p>
          <a href="#" class="disabled btn btn-primary btn-sm btn-block">Coming Soon</a>
        </div>
        <div class="col-xs-6">
          <%= image_tag 'more/commercial.png', :class=>'summary-img' %>
          <h4 class="center">Commercial Version</h4>
          <p class="center">Vehicle tracking, usage stats, comprehensive reporting.</p>
          <a href="#" class="disabled btn btn-primary btn-sm btn-block">Coming Soon</a>
        </div>
      </div>



      <div class="row sub-feature">
        <div class="col-xs-12">
          <h3 class="center">Easy Installation</h3>
          <%= image_tag "more/qdrive-install-steps.svg", :style=>'width: 100%' %>
        </div>
      </div>




      <div class="row sub-feature">
        <div class="col-xs-12">
          <h3 class="center">How It Works</h3>
          <%= image_tag "more/qdrive-use-steps.svg", :style=>'width: 100%' %>
        </div>
      </div>

      <h3 class="center">Additional Features</h3>

      <div class="row padded">
        
        <div class="col-xs-3">
          <%= image_tag "more/stats.png", :style=>'width: 100%' %>
        </div>
        <div class="col-xs-9">
          <h4 class="">Monitoring &amp; Statistics</h4>
          <p class="">QDrive is capable of monitoring usage during driving. Since your car needs to be started from the app, time spent away from the app while driving will be logged. These statistics are particularly useful for companies with strict hands-free restrictions in commercial vehicles.</p>
        </div>
      </div>
      <div class="row padded">
        
        <div class="col-xs-3">
          <%= image_tag "more/valet.png", :style=>'width: 100%' %>
        </div>
        <div class="col-xs-9">
          <h4 class="">Valet Mode</h4>
          <p class="">In the event your vehicle needs to be driven by someone else, you may limit range up to 1 km.</p>
        </div>
      </div>
      <div class="row padded">
        
        <div class="col-xs-3">
          <%= image_tag "more/911.jpg", :style=>'width: 100%' %>
        </div>
        <div class="col-xs-9">
          <h4 class="">Emergency Texts/Calls</h4>
          <p class="">In case of emergency, calling or texting can be enabled, however, this will be logged as emergency activity.</p>
        </div>
      </div>


      <div class="box">
        <h3 class="light center" style="margin-top: 0px;">More Information</h3>
   
        <%= link_to raw("<i class=\"fa fa-download\"></i> QDrive Marketing.pdf"), "http://corporatedraft.com/synq/pdf/QDrive-Gen.pdf", :class=>"btn btn-lg btn-primary btn-block", :target=>"_blank", :style=>"margin: 10px 0px 0px 0px" %>
        
      </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>