<!-- QDrive APP MODAL -->
<div class="modal fade" id="AppModalQDrive" tabindex="-1" role="dialog" aria-labelledby="AppModalQDriveLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background: url(<%= image_url 'blur/qdrive.jpg' %>)">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <!-- <h4 class="modal-title" id="AppModalQDriveLabel">Modal title</h4> -->
        <%= image_tag "qdrive.png", :class=>"responsive" %>
      </div>
      <div class="modal-body">
        
      <!-- BODY OF QDRIVE DESCRIPTION -->
        <h3 class="center">Easy Installation</h3>
        <%= image_tag "more/qdrive-install-steps.svg", :style=>'width: 100%' %>
        <hr>
        <div class="row sub-feature" id="alerts">
          <div class="col-xs-3">
            <%= image_tag 'more/alerts.jpg', :class=>'small-responsive' %>
          </div>
          <div class="col-xs-9">
            <h3>Convenience of Mobile</h3>
            <p class="lead">Keep an eye on your site through CCTV streaming or simply wait for notifications. A lock on your site's WiFi network will monitor its own behaviour. Stop gate tampering and leave your site with confidence.</p>
          </div>
        </div>
        <hr>
        <div class="row sub-feature">

          <div class="col-xs-9">
            <h3>Eyes on The Prize</h3>
            <p class="lead">Stream a realtime CCTV feed straight to your device.</p>
          </div>
          <div class="col-xs-3">
            <%= image_tag 'more/cctv-stream.jpg', :class=>'small-responsive' %>
          </div>
        </div>

      <!-- BODY END -->
        <div class="well"><h4>More Information Coming Soon</h4></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>