<!-- QGarage APP MODAL -->
<div class="modal fade" id="AppModalQGarage" tabindex="-1" role="dialog" aria-labelledby="AppModalQGarageLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background: url(<%= image_url 'blur/qgarage.jpg' %>)">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <!-- <h4 class="modal-title" id="AppModalQDriveLabel">Modal title</h4> -->
        <%= image_tag "qgarage.png", :class=>"responsive" %>
      </div>
      <div class="modal-body">
        
          <div class="row padded">
            <div class="col-xs-12">
              <h2 class="center">QGarage</h2>

              <p class="lead">With 54.2% of property and motor vehicle crime occuring in residential parking lots and garages, it's no wonder SYNQ feels the need to focus on underground parking lots to optimize residential security. QGarage is your best option for the <strong>most secure underground parking.</p></strong>
              
            </div>
            
          </div>
         
          <div class="row sub-feature padded">
            <div class="col-xs-12">
              <h3>QGarage can help make your building safer by:</h3>
              <p class="lead">
                <ul>
                  <li>Monitoring who is entering and leaving the premises</li>
                  <li>Notifying you when vehicles fail to wait for parking gates to close</li>
                  <li>Notifying all parties in the event of door contact tampering</li>
                </ul>
              </p>
            </div>
          </div>
          
          <div class="row sub-feature padded">
            <div class="col-xs-12">
              <h3>Monitor Ins and Outs</h3>
              <p class="lead">SYNQ's CCTV system works with door monitors to detect activity. In the event of a door opening or closing, it is capable of photographing the individual and sending information directly to your smartphone.</p>
            </div>
          </div>
          
          <div class="row sub-feature padded">
            <div class="col-xs-12">
              <h3>Smart Garage Door Contacts</h3>
              <p class="lead">Allow your monitoring system to sense when vehicles enter and exit parking facilities. If a vehicle fails to wait for a gate to close, you can be notified immediately with access to the surveillance footage.</p>
            </div>
          </div>

          <div class="row blue padded">
            <div class="col-xs-12">
              <h3 class="center">Key Benefits</h3>
              <div class="row">
                <div class="col-xs-6">
                  <%= image_tag 'more/qg/qd-leaf.png', :class=>"summary-img" %>
                  <p class="center">Deter illegal dumping and avoid costly removal fees.</p>
                </div>
                <div class="col-xs-6">
                  <%= image_tag 'more/qg/qd-theft-graph.png', :class=>"summary-img" %>
                  <p class="center">Reduce property &amp; vehicle crime by over 50% in your facility.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <%= image_tag 'more/qg/qd-invest.png', :class=>"summary-img" %>
                  <p class="center">See a tangible return of investment in 6 months or less.</p>
                </div>
                <div class="col-xs-6">
                  <%= image_tag 'more/qg/qd-security.png', :class=>"summary-img" %>
                  <p class="center">Enforce security procedures to help keep your building safe.</p>
                </div>
              </div>
            </div>
          </div>


          <div class="box">
            <h3 class="light center" style="margin-top: 0px;">More Information</h3>
       
            <%= link_to raw("<i class=\"fa fa-download\"></i> QGarage.pdf"), "http://corporatedraft.com/synq/pdf/QGarage.pdf", :class=>"btn btn-lg btn-primary btn-block", :target=>"_blank", :style=>"margin: 10px 0px 0px 0px" %>
            
          </div>
          

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>